<app-navbar></app-navbar>
<header class="main">
      <aside class="form">
        <h3 class="head">Property Details</h3>
        <label class="labell">appartment type</label><br>
        <select  name="" id="" class="list">
          <option value="" class="option" >Select Appartment type</option>
        </select><br>
        <label class="labell">BHK type</label><br>
        <select  name="" id="" class="list">
          <option value="" class="option">Select BHK type</option>
        </select><br>
     
        <label class="labell">Property type</label><br>
        <select  name="" id="" class="list">
          <option value="" class="option">Select Appartment type</option>
        </select><br>
      
        <label class="labell">Built up Area</label><br>
        <select  name="" id="" class="list">
          <option value="" class="option">Select Appartment type</option>
        </select><br>
        
        <label class="labell">appartment type</label><br>
        <select  name="" id="" class="list">
          <option value="" class="option">Select Appartment type</option>
        </select><br>
       
        <label class="labell">appartment type</label><br>
        <select  name="" id="" class="list">
          <option value="" class="option">Select Appartment type</option>
        </select><br>
       
      </aside>
   
  

   
</header>
