<header class="main">
  <aside class="footer">
    <aside class="paraa">
    <aside class="hed"> 
      <h1 class="hlst">ALL In One In 
      <span class="black">Revo</span></h1>
    </aside>  
    <aside class="butfoot">
      <p class="plst">Download the app for free</p>
      <aside class="buttons">      
      <aside class="footer-button">
          <i class="fa-brands fa-apple apleicn"></i>
          <aside class="ap">
            <li><a class="app">Download on</a></li>
            <li><a class="app">App Store</a></li>
          </aside>
        </aside>
        <aside class="footer-button">
          <img src="../../../assets/plat.avif" alt="" class="apleicn">
          <aside class="ap">
            <li><a class="app">Download on</a></li>
            <li><a class="app">App Store</a></li>
          </aside>
        </aside>
      </aside>
    </aside>
   
    </aside>
 
      
  </aside>
  <aside class="footblue"> 
   
    <aside class="fh1">
      <h3 class="fh">We are in</h3>
      <aside class="lin">
        <li><a>USA</a></li> 
        <li><a>China</a></li>
        <li><a>India</a></li>
        <li><a>Canada</a></li>
        <li><a>Japan</a></li>
      </aside>   
    </aside>
    <aside class="fh2">
     <h3 class="fh">Our Services</h3>
     <aside class="lin">
      <li><a>Property Listing</a></li>
      <li><a>Property Management</a></li>
      <li><a>Laon Services</a></li>
      </aside>
    </aside>
    <aside class="fh3">
      <h3 class="fh">With Us</h3>
      <aside class="lin">

      
      <li><a>Seller</a></li>
      <li><a>Builders</a></li>
      <li><a>Buyers</a></li>
      <li><a>Bank Agent</a></li>
      <li><a>Transaction Manager</a></li>
      <li><a>Driver</a></li>
    </aside>
    </aside>
    <aside class="fh4">
      <h3 class="fh">Quick Links</h3>
      <aside class="lin">
      <li><a>Properties</a></li>
      <li><a>Builders</a></li>
      <li><a>Categories</a></li>
      <li><a>Builders</a></li>
    </aside>
    </aside>
    <aside class="fh5">
       <h3 class="fh">Help</h3>
       <aside class="lin">
       <li><a>FAQ Policy</a></li>
       <li><a>Terms & Conditions</a></li>
       <li><a>Privacy Policy</a></li>
       <li><a>Editional Policy</a></li>
       <li><a>Referral Policy</a></li>
       <li><a>Sit Map</a></li>
      </aside>

    </aside>
</aside>
<aside class="div">
  <aside class="last">
    <i class="fa-brands fa-facebook-f"></i>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-youtube"></i>   
  </aside>
  <p class="we">@2022 REVO Home Allrights reserved Terms | Privacy</p>
</aside>





</header>
