@import "../../../assets/scss/base/colors";
@import "../../../assets/scss/base/fonts";
@import "../../../assets/scss/base/mixins";
@import "../../../assets/scss/base/typography";

.main{
    background-image:url("../../../assets/bluepic.jpg");
    background-size: cover;
     height: 58vh;
    .paraa{
        display: flex;
        flex-direction: column;
        padding: .1rem;     
    }
     .hed{
        padding: 2rem;
        font-size: 4em;
        .hlst{
    
            color: white;
            font-size: 800;
        }
        .black{
            
            color: black;
        }
     }
     .plst{
        color: antiquewhite;
        font-size: 1em;
    }
  
    .butfoot{
        display: flex;
        flex-direction: column;
        padding: 1rem;
    
       }
.buttons{
    @include d-flex(left, center);

    
    gap:1rem;

    .footer-button{
        @include button-style(.3rem, 10em, .3rem);
        border-style: none;
        font-weight: 400;
        list-style: none;
        background-color: black;
        color: aliceblue;
        display: flex;
        align-items: center;
        // border-radius: .4rem;
        box-shadow: 0 0 0 0;
        padding: .3rem;
        gap:1rem;         
       
        .apleicn{
            font-size: 2rem;
        }
        .apleicnf{
            // font-size: 1rem;
            width: 2rem;
        }
    }
}  
 .footblue{
    @include d-flex(space-evenly, center);
    margin-top: 9rem;
    background-color: #001B49;
    
    width: 99rem;
    height: 20rem;
    color: white;
    list-style: none;
    border-radius: 0 0 0 1px ;

   .fh{
    line-height: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
   }
   .lin{
    line-height: 2rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   }
} 

.div{
    @include d-flex(space-evenly, center);
    display: flex;
    flex-direction: column;
    gap:.7rem;    
    .last{
        // @include d-flex(center, center);
        // padding: .8rem;
        // width: 8rem;
        gap:1rem;
        // font-size: 1.em;
        @include d-flex(space-evenly, center);
        // 
    }
}
.plst{
    font-size: medium;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 900%;

}
}