<header class="main">
    <aside class="nav-landing">
        <aside class="navbar">
          <aside class="company-name">
            <h1 class="navo">REVO<span class="home">.HOME</span></h1>
            <small class="small">REAL ESTATE NEVER BE THE SAME</small>
          </aside>
       <aside class="nav-tems">
        <p class="list-items">Home</p>
        <select name="" id="" class="list-items">
          <option value="" class="option">
            <h3>Catogory</h3>
          </option>
        </select>
        <p class="list-items">Revo Builders</p>
        <p class="list-items">List Property</p>
        <p class="list-items">Sign-up</p>
        <aside class="icon-account">
          <i class="fa-solid fa-user"></i>
          <select name="" id="" class="list-items">
            <option value="" class="list-items">
              <h3>My Account</h3>
            </option>
          </select>
       </aside>
          </aside>
        </aside>
    
       </aside>
</header>

  