<header class="main">
    <aside class="parent">
        <aside class="userlogo">
                <img src="../../assets/pic.jpg" alt="">
                
        </aside>
        <aside class="name-company">
            <h3 class="name">David Mathew</h3>
                <p class="company">ABC Company</p>
        </aside>
   
        <aside class="logo">
            <h2 class="home">REVO-HOME</h2>
        </aside>
        <aside class="button">
            <button class="preview"><i class="fa-solid fa-eye"></i>Preview</button>
            <i class="fa fa-times gg" aria-hidden="true"></i>
        </aside>
         
    </aside>
    <aside class="navbar">
      <h3 class="BD" routerLink="basicDetails"> BasicDetails</h3>
      <h3 class="rf" routerLink="/property">Property Details</h3>
      <h3>Locality Details</h3>
      <h3>Price Details</h3>
      <h3>Amenties</h3>
      <h3>Gallary </h3>
      <h3>Shedule</h3>
    </aside>
</header>

  