<header class="main">
  <aside class="nav-landing">
    <aside class="navbar">
      <aside class="company-name">
        <h1 class="navo">REVO<span class="home">.HOME</span></h1>
      </aside>

      <p class="list-items">Home</p>
      <select name="" id="" class="list-items">
        <option value="" class="option">
          <h3>Catogory</h3>
        </option>
      </select>
      <p class="list-items">Revo Builders</p>
      <p class="list-items">List Property</p>
      <p class="list-items">Sign-up</p>
      <aside class="icon-account">
        <i class="fa-solid fa-user"></i>
        <select name="" id="" class="list-items">
          <option value="" class="list-items">
            <h3>My Account</h3>
          </option>
        </select>
      </aside>
    </aside>

    <section class="landing">
      <aside class="background">
        <p class="h1">Revolution Starts Here</p>
        <span class="small">Revo Get your Dreame Faster</span><br />
        <button class="button">Get Started</button>
      </aside>
      <aside class="search-bar">
        <li class="items"><a>BUY</a></li>
        <li class="items"><a>RENT</a></li>
        <li class="items"><a>COMMERCIAL</a></li>
        <li class="items"><a>PG/CO-LIVING</a></li>
        <li class="items"><a>PIOLTS</a></li>
      </aside>
    </section>
    <aside class="loc">
      <aside lass="choose">
        <span class="material-icons-outlined">
          gps_fixed
          </span>
        <span>Choose locality</span>
      </aside>

      <li><a>Search for locality,landmark, project or builders</a></li>
      <button class="button2">Search</button>
    </aside>
  </aside>

  <section class="searchingg">
    <aside class="searchh">
      <li class="search0">
        <a> <i class="fa fa-search" aria-hidden="true"></i>Popular Searches</a>
      </li>
      <li class="search01"><a>Search 01</a></li>
      <li class="search01"><a>Search 01</a></li>
      <li class="search01"><a>Search 01</a></li>
      <li class="search01"><a>Search 01</a></li>
      <li class="search01"><a>Search 01</a></li>
      <li class="search01"><a>Search 01</a></li>
      <li class="search01"><a>Search 01</a></li>
    </aside>
    <aside class="card-flex">
      <aside class="card-section">
        <aside class="card-container">
          <span class="card">
            <span class="material-icons-outlined card-icon"> real_estate_agent</span>


            <span class="card-circle-11"></span>
          </span>
          <p class="card-title">Pay Rent</p>
        </aside>
      </aside>

      <aside class="card-section">
        <aside class="card-container">
          <span class="card">
            <span class="material-icons-outlined card-icon">
              home_work
              </span>
            <span class="card-circle-1"></span>
          </span>
          <p class="card-title">Rent Agreement</p>
        </aside>
      </aside>
      <aside class="card-section">
        <aside class="card-container">
          <span class="card">
            <span class="material-icons-outlined card-icon">
              currency_rupee
              </span>
            <span class="card-circle-2"></span>
          </span>
          <p class="card-title">Home Loan</p>
        </aside>
      </aside>
      <aside class="card-section">
        <aside class="card-container">
          <span class="card">
            <span class="material-icons-outlined card-icon">
              chair
              </span>
            <span class="card-circle-3"></span>
          </span>
          <p class="card-title">Home interions</p>
        </aside>
      </aside>
      <aside class="card-section">
        <aside class="card-container">
          <span class="card">
            <span class="material-icons-outlined card-icon ">
              solar_power
              </span>
            <span class="card-circle-4"></span>
          </span>
          <p class="card-title">Solar Rooftop</p>
        </aside>
      </aside>
      <aside class="card-section">
        <aside class="card-container">
          <span class="card">
            <span class="material-icons-outlined card-icon">
              diamond
              </span>
            <span class="card-circle-5"></span>
          </span>
          <p class="card-title">Premium Apartment</p>
        </aside>
      </aside>
      <aside class="card-section">
        <aside class="card-container">
          <span class="card">
            <span class="material-icons-outlined card-icon">
              airport_shuttle
              </span>
            <span class="card-circle-6"></span>
          </span>
          <p class="card-title">Packers & Movers</p>
        </aside>
      </aside>
      <aside class="card-section">
        <aside class="card-container">
          <span class="card">
            <span class="material-icons-outlined card-icon">
              real_estate_agent
              </span>
            <span class="card-circle-7"></span>
          </span>
          <p class="card-title">property Management</p>
        </aside>
      </aside>
    </aside>
    <aside class="Big-Card-section">
      <aside class="card-big">
        <img src="../../../assets/hom.jpg" class="card-imgb" />
        <h1 class="card-head">BUY PROPERTY</h1>
        <p class="card-para">
          Find your place with an immersive phot experience and most
          listings,including things you won't find anywhere else.
        </p>
        <p><button class="button-card">Browse</button></p>
      </aside>

      <aside class="card-big">
        <img src="../../../assets/Group 57731.jpg" class="card-imgb" />
        <h1 class="card-head">SELL PROPERTY</h1>
        <p class="card-para">
          No matter what path you take to selft your home, we can help you
          navigate a successfull sale.
        </p>
        <p><button class="button-card">Start Now</button></p>
      </aside>

      <aside class="card-big">
        <img src="../../../assets/Group 57731.jpg" class="card-imgb" />
        <h1 class="card-head">RENT PROPERTY</h1>
        <p class="card-para">
          Find your place with an immersive phot experience and most
          listings,including things you won't find anywhere else.
        </p>
        <p><button class="button-card">Find rentals</button></p>
      </aside>
    </aside>
    <aside class="photo-card-container">
     
      <aside class="photo-card-container-para1">
        <h2 class="photo-card-container-head">
          Handpicked Residential Projects
        </h2>
        <p class="photo-card-container-para">
          Featured Residential projects across world
        </p>
      </aside>

  <aside class="img-card-flex">
    <aside class="img-card">
      <aside class="container-crop-img">
        <aside class="card-imge">
          <img
          src="../../../assets/resident.jpg"
          class="photo-card-container-img-cls"
        />
        </aside>
        <aside class="cardico">
          <span class="material-icons-outlined cardicon"> real_estate_agent</span>
        </aside>
        <aside class="crop-card">             
          <span class="crop">Hill Top Residential</span>
          <p class="crop-p">2 BHK Apartments,sector - 16,USA</p>
          <h2 class="croph">$ 1,000</h2>
        </aside>
      </aside>
    </aside>
    <aside class="img-card">
      <aside class="container-crop-img">
        <aside class="card-imge">
          <img
          src="../../../assets/resident.jpg"
          class="photo-card-container-img-cls"
        />
        </aside>
        <aside class="crop-card">
          <span class="crop">Hill Top Residential</span>
          <p class="crop-p">2 BHK Apartments,sector - 16,USA</p>
          <h2 class="croph">$ 1,000</h2>
        </aside>
      </aside>
    </aside> 
    <aside class="img-card">
      <aside class="container-crop-img">
        <aside class="card-imge">
          <img
          src="../../../assets/resident.jpg"
          class="photo-card-container-img-cls"
        />
        </aside>
        <aside class="crop-card">
          <span class="crop">Hill Top Residential</span>
          <p class="crop-p">2 BHK Apartments,sector - 16,USA</p>
          <h2 class="croph">$ 1,000</h2>
        </aside>
      </aside>
    </aside>
  </aside>
    </aside>
    <aside class="last-box">
  <aside class="sw">
    <h2 class="h2buil">Builders</h2>
  </aside>
   
  <aside class="box-flex">
    <aside class="lastcard">
      <img src="../../../assets/R (1).jpg" alt="" class="imgs">
      <aside class="namel">
      <h2 class="box-name">AD Construction</h2>
      <p>86+ items</p>  
      </aside>
    </aside>
    <aside class="lastcard">
      <img src="../../../assets/abc.jpg" alt="" class="imgs">
      <aside class="namel">
      <h2 class="box-name">ABC Builders</h2>
      <p>90+ items</p> 
    </aside> 
    </aside>
    <aside class="lastcard">
      <img src="../../../assets/himalaya.jpg" alt=""  class="imgs">
      <aside class="namel">
      <h2 class="box-name"> GK builders</h2>
      <p>85+ items</p>  
    </aside>
    </aside>
    <aside class="lastcard">
      <img src="../../../assets/final-logo-01.jpg" alt=""  class="imga">
      <aside class="namel">
      <h2 class="box-nameh">A Group Construction</h2>
      <p>130+ items</p> 
      <aside class="bcic"><i class="fa-solid fa-greater-than ic"></i></aside>
    </aside> 

    </aside>
    <aside class="lastcard">
      <img src="../../../assets/gerrardexcavating-logo.jpg" alt=""  class="imga">
      <aside class="namel">
        <h2 class="box-name">ZG Groups</h2>
        <p class="paisa">125+ items</p>  

      </aside>
      
    </aside>
  </aside>
      
    </aside>

   
</section>

</header>

<app-landfooter></app-landfooter>

<!-- <app-resident></app-resident> -->