<header class="main">
<app-navbar></app-navbar> 
<!-- ----------------------------------------------------------------- -->
 <!-- <aside class="nav-landing">
  <section class="landing">
  <aside class="background">
        <p class="h1">Revolution</p>
        <span class="small">Revo Get your Dreame Faster</span><br />
        <button class="button">Get Started</button>
  </aside>
  <aside class="boxxxx">
    <aside class="search-bar">
      <li class="items"><a>BUY</a></li>
      <li class="items"><a>RENT</a></li>
      <li class="items"><a>COMMERCIAL</a></li>
      <li class="items"><a>PG/CO-LIVING</a></li>
      <li class="items"><a>PIOLTS</a></li>
    </aside>
    <aside class="loc">
      <aside lass="choose">
        <span class="material-icons-outlined">
          gps_fixed
          </span>
        <span>Choose locality</span>
      </aside>

      <li><a>Search for locality,landmark, project or builders</a></li>
      <button class="button2">Search</button>
  </aside>

  </aside>   
 </section>
   
 
  </aside> -->

  
  <!-- =--------------------------------------------------------------------------------------- -->
<app-search></app-search>
    <!-- =--------------------------------------------------------------------------------------- -->
<app-bigcardcol></app-bigcardcol>
    <!-- =--------------------------------------------------------------------------------------- -->
<app-resident></app-resident>
    <!-- =--------------------------------------------------------------------------------------- -->
<app-lastbox></app-lastbox>
    <!-- =--------------------------------------------------------------------------------------- -->
<app-landfooter></app-landfooter>
    <!-- =--------------------------------------------------------------------------------------- -->

</header>
