<header class="main">
  <aside class="navbar">

    <h1 class="navo">REVO<span class="home">.HOME</span> </h1>
    <p class="list-items">Home</p>
    <select name="" id="" class="list-items">
      <option value="" class="option">
        <h3>Catogory</h3>
      </option>
    </select>
    <p class="list-items">Revo Builders</p>
    <p class="list-items">List Property</p>
    <p class="list-items">Sign-up</p>
    <aside class="icon-account">
    <i class="fa-solid fa-user"></i>
    <select name="" id="" class="list-items">
      <option value="" class="option">
      <h3>My Account</h3>
      </option>
    </select>
  </aside>
  </aside>
<aside class="landing">
    <aside class="flex">
      <aside class="backgorund">
        <h1 class="h2">Revolution Starts Here</h1><br>
        <h3 class="small">Revo Get your Dreame Faster</h3><br>
        <button class="button">Get Started</button>
      </aside>
    </aside>
    <aside class="box">
      <aside class="box-line">
        <p class="p">BUY </p>
      </aside>
      <aside class="box-line">
        <p class="p"> RENT </p>
      </aside>
      <aside class="box-line">
        <p class="p">COMMERCIAL </p>
      </aside>
      <aside class="box-line">
        <p class="p">PG/CO-LIVING </p>
      </aside>
      <aside class="box-line">
        <p class="p">PIOLTS </p>
      </aside>
    </aside>
    <aside class="round-box">
    <aside class="icon-location">
      <span class="material-icons-round">
        my_location
        </span>
      <select name="" id="" class="list-it">
        <option value="" class="option">
          <h3>
         Choose Locality
          </h3>
        </option>|
      </select>
    </aside>
    
      <h4 class="loc-details">Search Locality,Landmark,project or builders</h4>
        <button class="button2">serach</button>
    </aside>
</aside>

<aside class="search-navbar">
 
    <aside class="search">
       <p> <i class="fa fa-search" aria-hidden="true"></i>Popular Searches</p>
       <button class="sear">Search 01</button>
       <button class="sear">Search 01</button>
       <button class="sear">Search 01</button>
       <button class="sear">Search 01</button>
       <button class="sear">Search 01</button>
       <button class="sear">Search 01</button>
       <button class="sear">Search 01</button>
    </aside>
</aside>

</header>