<section>
<header class="main">
    <aside class="parent-header">
            <aside class="parent">
         <h3 class="heading">Basic information</h3>
         <p class="parag">lorem indescum sit amett concenter adipiscing , elit sed do eus mod temper indeded jfj kkoko  weyute jwdiojofjoen jhsvhcfsagdfjhavcjh bc</p>
         <h4>you are lookking to post</h4>
            </aside>
            <aside class="box-main">
    <label class="box">
        <input type="checkbox" value="sell" class="option-input checkbox" >Sell
    </label>
    <label class="box">
        <input type="checkbox" value="sell" class="option-input checkbox" >Rent
    </label>
    <label class="box">
        <input type="checkbox" value="sell" class="option-input checkbox" >Commercial
    </label>
    <label class="box">
        <input type="checkbox" value="sell" class="option-input checkbox" >PG/CO-Living
    </label>
    <label class="box">
        <input type="checkbox" value="sell" class="option-input checkbox" >Plots
    </label>  
            </aside>
      <h3>You Are</h3>
         <aside>
    <label class="box">
        <input type="checkbox" value="sell" class="option-input checkbox" >Owner
    </label>
    <label class="box">
        <input type="checkbox" value="sell" class="option-input checkbox" >Agent
    </label>
    <label class="box">
        <input type="checkbox" value="sell" class="option-input checkbox" >Builder
    </label>  
         </aside>
    </aside>
    
    <aside="parent-sider">
       <aside class="step-1">
              <h3>Post your Property Ad</h3>
              <p>enter all details like locality name,
                amenties etc.along with uploading photos
              </p>
       </aside>
    </aside>
</header>
</section>