$white:#fff;
$white-opacity:#ffffffc2;
$black:#000;
$orange:#E63E00;
$light-blue:#00A5B5;
$yellow:#F2CB61;
$yellowdark:#FFB700;
$blue:#2580CE;
$green:#0dad56;
$green-light:#0DA954;
$red:#ff0000;
$black2:#131721;
$black3:#0F0D29;
$black4:#101422;
$black5:#545D7A;
$black6:#1A1E5C;
$body-bg:#f8f9fb;
$gray-menu: #A0A5B9;
$light-blue2:#e1f3f4;
$red1:#FF4141;
$red2:#F60800;
$red3:#ff000021;
$orange3:#FFA700;
$btn-hover:#ff4500;
$gray1:#F5F5F5;
$gray2:#6C6F70;
$gray3:#707070;
$gray4: #f7f8fb;
$gray5:#F7F8FA ;
$gray6:#E2E3EA;
$gray7:#E2E1E6;
$gray8:#7D82A5;
$gray9:#9FA5B9;
$gray10:#405169;
$gray11:#DDE9FB;
$gray12:#DAE1F5;
$gray13:#FAFAFA ;
$gray14:#E3E3E3;
$gray15:#DEDFE4 ;
$gray16:#6B7074;
$gray17:#F6F8FA;
$gray18:#A2A1A4;
$gray19:#EBEBED;
$gray20:#D7D7D7;
$tab-bg:#EFEFEF;
$tab-hover:#F5FCFF;
$tb-active:#f8eded;
$gray-dp:#7D82A573;
$rgba-gray: rgba(160, 165, 185, .2);
$orange2: rgba(230, 62, 0, .17);
$blag-gd: rgba(0, 0, 0, .6);
$white-rgba:rgba(255, 255, 255, .6);
$white-rgba-gd:rgba(255, 255, 255, 1);
$gradient-bg: transparent linear-gradient(270deg, #E63E00 0%, #F4AD42 100%) 0% 0% no-repeat padding-box;
$gradient-bg2: transparent linear-gradient(125deg, #41B15D 0%, #41B195 100%) 0% 0% no-repeat padding-box;
$shadow1: 0px 3px 20px #57526e14;
$shadow5:0px 3px 20px #57526e2e;
$nav-shadow:0px 3px 6px #0000000F;
$shadow2:0px 20px 99px #481D7233;
$shadow3: 0px 8px 32px #00000014;
$shadow4: 0px 20px 40px #00000014;
$shadow6: 0px 0px 1px #58529045;
$shadow7: 0px 10px 25px #3637382B;
$shadow8: 0px 2px 4px #A0A3B633;
$shadow9: 0px 3px 30px #9396A647;
$shadow10: 0px 2px 4px #4C8DEB42;
$shadow11: 0px 2px 10px #4C8DEB1A;
$shadow13: 0px 3px 12px #0000001F;
$shadow14: 8px 8px 12px #FF41411F;
$shadow15: 2px 2px 8px #00000014;
$shadow-menu: 0px 15px 50px #0C1A291A;
$scroll-bar-bg: #c2c2c2;
$grayarrow: #505050;
$lightborder: #E0E0E0;
$scroll-bar:rgba(0, 0, 0, 0.164);
.red{
    color: $red1;
}
.green{
    color: $green;
}
.yellow{
    color: $yellow;
}
.orange{
    color: $orange;
}
$shadow12: 0px 3px 6px #00000029;
$shadow13: 0px -3px 6px #00000014;
$table-hover:#F5FCFF;
$identify-color:#F25455;
$establish-color:#F6539D;
$closedone-color:#36CD5C;
$closedlost-color:#43D6A9;
$contracts-color:#DDD133;
$graytext-color:#222222;
$darktext-color:#141414;
$darktext-color2:#19191C;
$lightgray:#ECECEC;
$lightgray2:#D5D1D1;
$lightgray3:#EEEDED;
$lightgray4:#878788;
$lightgray5:#999999;
$lightgray6:#EDEDED;
$lightgray7:#E6E6E6;
$lightgray8:#7A7A7A;
$lightgray9:#f5f5f5;
$lightorange:#FFF0F0;
$black01:#222222;
$border-color2:#E7EAF4;
$lightgray01:#F1F1F1;
$graytext1:#909090;
$graydarktext1:#4D3207;
$pr-light-color:#f58585;
$th-color:#1A1E5C;
$light-gray1:#F8F8FB;
$gray25:#f0f2f3;
$gray26:#e8e8e8;
$dark1:#0D2A38;
$darkgray2:#D6D6D6;
$darkgray3:#414141;
$gray-01:#FBFBFB;
$green-light2:#3DB65A;