<header class="main">
    <aside class="last-box">
        <aside class="sw">
          <h2 class="h2buil">Builders</h2>
        </aside>
         
        <aside class="box-flex">
          <aside class="lastcard">
            <img src="../../../assets/R (1).jpg" alt="" class="imgs">
            <aside class="namel">
            <h2 class="box-name">AD Construction</h2>
            <p>86+ items</p>  
            </aside>
          </aside>
          <aside class="lastcard">
            <img src="../../../assets/abc.jpg" alt="" class="imgs">
            <aside class="namel">
            <h2 class="box-name">ABC Builders</h2>
            <p>90+ items</p> 
          </aside> 
          </aside>
          <aside class="lastcard">
            <img src="../../../assets/himalaya.jpg" alt=""  class="imgs">
            <aside class="namel">
            <h2 class="box-name"> GK builders</h2>
            <p>85+ items</p>  
          </aside>
          </aside>
          <aside class="lastcard">
            <img src="../../../assets/final-logo-01.jpg" alt=""  class="imga">
            <aside class="namel">
            <h2 class="box-nameh">A Group Construction</h2>
            <p>130+ items</p> 
            <aside class="bcic"><i class="fa-solid fa-greater-than ic"></i></aside>
          </aside> 
      
          </aside>
          <aside class="lastcard">
            <img src="../../../assets/gerrardexcavating-logo.jpg" alt=""  class="imga">
            <aside class="namel">
              <h2 class="box-name">ZG Groups</h2>
              <p class="paisa">125+ items</p>  
      
            </aside>
            
          </aside>
        </aside>
            
          </aside>
</header>
