
<header class="main">
    <section class="searchingg">
        <aside class="searchh">
          <li class="search0">
            <a> <i class="fa fa-search" aria-hidden="true"></i>Popular Searches</a>
          </li>
          <li class="search01"><a>Search 01</a></li>
          <li class="search01"><a>Search 01</a></li>
          <li class="search01"><a>Search 01</a></li>
          <li class="search01"><a>Search 01</a></li>
          <li class="search01"><a>Search 01</a></li>
          <li class="search01"><a>Search 01</a></li>
          <li class="search01"><a>Search 01</a></li>
        </aside>
        <aside class="card-flex">
          <aside class="card-section">
            <aside class="card-container">
              <span class="card">
                <span class="material-icons-outlined card-icon"> real_estate_agent</span>
    
    
                <span class="card-circle-11"></span>
              </span>
              <p class="card-title">Pay Rent</p>
            </aside>
          </aside>
    
          <aside class="card-section">
            <aside class="card-container">
              <span class="card">
                <span class="material-icons-outlined card-icon">
                  home_work
                  </span>
                <span class="card-circle-1"></span>
              </span>
              <p class="card-title">Rent Agreement</p>
            </aside>
          </aside>
          <aside class="card-section">
            <aside class="card-container">
              <span class="card">
                <span class="material-icons-outlined card-icon">
                  currency_rupee
                  </span>
                <span class="card-circle-2"></span>
              </span>
              <p class="card-title">Home Loan</p>
            </aside>
          </aside>
          <aside class="card-section">
            <aside class="card-container">
              <span class="card">
                <span class="material-icons-outlined card-icon">
                  chair
                  </span>
                <span class="card-circle-3"></span>
              </span>
              <p class="card-title">Home interions</p>
            </aside>
          </aside>
          <aside class="card-section">
            <aside class="card-container">
              <span class="card">
                <span class="material-icons-outlined card-icon ">
                  solar_power
                  </span>
                <span class="card-circle-4"></span>
              </span>
              <p class="card-title">Solar Rooftop</p>
            </aside>
          </aside>
          <aside class="card-section">
            <aside class="card-container">
              <span class="card">
                <span class="material-icons-outlined card-icon">
                  diamond
                  </span>
                <span class="card-circle-5"></span>
              </span>
              <p class="card-title">Premium Apartment</p>
            </aside>
          </aside>
          <aside class="card-section">
            <aside class="card-container">
              <span class="card">
                <span class="material-icons-outlined card-icon">
                  airport_shuttle
                  </span>
                <span class="card-circle-6"></span>
              </span>
              <p class="card-title">Packers & Movers</p>
            </aside>
          </aside>
          <aside class="card-section">
            <aside class="card-container">
              <span class="card">
                <span class="material-icons-outlined card-icon">
                  real_estate_agent
                  </span>
                <span class="card-circle-7"></span>
              </span>
              <p class="card-title">property Management</p>
            </aside>
          </aside>
        </aside>
    </section>
</header>
