<header class="main">
<aside class="photo-card-container">
     
    <aside class="photo-card-container-para1">
      <h2 class="photo-card-container-head">
        Handpicked Residential Projects
      </h2>
      <p class="photo-card-container-para">
        Featured Residential projects across world
      </p>
    </aside>

  
  <aside class="img-card">
    <aside class="container-crop-img">
      <aside class="card-imge">
        <img
        src="../../../assets/resident.jpg"
        class="photo-card-container-img-cls"
      />
      </aside>
      <aside class="cardico">
      <span class="material-icons-outlined ic">
          apartment
          </span> 
      </aside>
      <aside class="crop-card">             
        <span class="crop">Hill Top Residential</span>
        <p class="crop-p">2 BHK Apartments,sector - 16,USA</p>
        <h2 class="croph">$ 1,000</h2>
      </aside>
    </aside>
  
  
    <aside class="container-crop-img">
      <aside class="card-imge">
        <img
        src="../../../assets/resident.jpg"
        class="photo-card-container-img-cls"
      />
      </aside>
      <aside class="cardico">
        <span class="material-icons-outlined ic">
            apartment
            </span> 
        </aside>
      <aside class="crop-card">
        <span class="crop">Hill Top Residential</span>
        <p class="crop-p">2 BHK Apartments,sector - 16,USA</p>
        <h2 class="croph">$ 1,000</h2>
      </aside>
    </aside>
  
  
    <aside class="container-crop-img">
      <aside class="card-imge">
        <img
        src="../../../assets/resident.jpg"
        class="photo-card-container-img-cls"
      />
      </aside>
      <aside class="cardico">
        <span class="material-icons-outlined ic">
            apartment
            </span> 
        </aside>
      <aside class="crop-card">
        <span class="crop">Hill Top Residential</span>
        <p class="crop-p">2 BHK Apartments,sector - 16,USA</p>
        <h2 class="croph">$ 1,000</h2>
      </aside>
    </aside>
   </aside>
</aside>

</header>