
<header class="main">
    <aside class="Big-Card-section">
        <aside class="card-big">
          <img src="../../../assets/hom.jpg" class="card-imgb" />
          <h1 class="card-head">BUY PROPERTY</h1>
          <p class="card-para">
            Find your place with an immersive phot experience and most
            listings,including things you won't find anywhere else.
          </p>
          <p><button class="button-card">Browse</button></p>
        </aside>
    
        <aside class="card-big">
          <img src="../../../assets/Group 57731.jpg" class="card-imgb" />
          <h1 class="card-head">SELL PROPERTY</h1>
          <p class="card-para">
            No matter what path you take to selft your home, we can help you
            navigate a successfull sale.
          </p>
          <p><button class="button-card">Start Now</button></p>
        </aside>
    
        <aside class="card-big">
          <img src="../../../assets/Group 57731.jpg" class="card-imgb" />
          <h1 class="card-head">RENT PROPERTY</h1>
          <p class="card-para">
            Find your place with an immersive phot experience and most
            listings,including things you won't find anywhere else.
          </p>
          <p><button class="button-card">Find rentals</button></p>
        </aside>
    </aside>

</header>
